.trophy-banner {
  height: 52px;

  &.green {
    background-color: $color_button-green;
  }

  &.purple {
    background-color: $color_purple;
  }

  &.orange{
    background-color: $color_orange;
  }
}