.venue-details {
  padding: $global-padding;
  margin-top: 24px;
  
  &--image {
    width: 100%;
    min-height: 250px;
    margin-bottom: -7px;
  }

  &--title {
    margin-bottom: 16px;
  }

  &--about {
    margin-top: 32px;
    margin-bottom: 16px;
  }
}
