$color_address: #C0CACC;
$color_background: #01222D;
$color_button-green: #BBDD7A;
$color_blue-gradient: linear-gradient(81.56deg, #05D3D8 29.77%, #748BFE 187.55%);
$color_white: #ffffff;
$color_grey: #C0CACC;
$color_black: #01222D;
$color_yellow: #CCBA5E;
$color_purple: #9B9EEC;
$color_orange: #E0894E;
$color_deep-blue: #06B4EA;
