$color_address: #C0CACC;
$color_background: #01222D;
$color_button-green: #BBDD7A;
$color_blue-gradient: linear-gradient(81.56deg, #05D3D8 29.77%, #748BFE 187.55%);
$color_white: #ffffff;
$color_grey: #C0CACC;
