@import './_colors.scss';
@import './_spacing.scss';


// TODO: Remove all global styles referring to elements
// avoid adding any styles that refer to specific elements
%marker-icon {
  display: flex;
  justify-content: center;
  align-items: center;

  background: #05D3D8;
  background: linear-gradient(88.75deg, #05D3D8 29.77%, #748BFE 187.55%);
  color: #01222D;
  border: 2px solid white;
  box-shadow: 0px 3px 3px rgba(0,0,0,0.5);

  font-size: 20px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;

  height: 32px;
  width: 32px;
  border-radius: 50%;
  z-index: 40;
  cursor: pointer;
}

.global-title {
  line-height: 36px;
  font-weight: 600;
  font-size: 28px;
}

h1 {
  font-weight: 600;
  font-size: 28px;
}

.header-1 {
  font-size: 18px;
  font-weight: 600;
}

.header-2 {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.venue-address {
  font-size: 14px;
  color: $color_address;
  &--image {
    height: 12px;
    margin-right: 5px;
  }
}
