$color_address: #C0CACC;
$color_background: #01222D;
$color_button-green: #BBDD7A;
$color_white: #ffffff;

$global-padding: 0 24px;

.global-title {
  line-height: 36px;
  font-weight: 600;
  font-size: 28px;
}

.header-3 {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}