h1 {
  text-align: center;
  margin-top: 72px;
}

.trophy-banner{
  height: 52px;
  margin-top: 141px;
  position: relative;

  &.green {
    background-color: $color_button-green;
  }
  &.purple {
    background-color: $color_purple;
  }
  &.orange {
    background-color: $color_orange;
  }
}

.trophy {
  position: relative;
  z-index: 1;
  margin-top: -250px;
  left: 50%;
  margin-left: -187.5px; // half ot the image width
}

.top-line {
  margin-top: -70px;
}

.parent {
  display: flex;
  justify-content: center;
}

.prize-details-container {
  margin-bottom: 16px;
  display: flex;

  .checkmark {
    margin-top: 31px;
  }

  .prize-details {
    margin-left: 16px;
  }
}

.prize-details-paragraph {
  margin-top: 32px;
  padding: 0 34px;
  text-align: center;
}
