.header--nav {
  height: 88px;
  padding: $global-padding;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  &-rewards-icon {
    padding-right: 10px;
  }

  &-logo {
    margin-right: auto;
  }
}
