.header--nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  & a {
    padding: 15px;
  }   
  &-logo {
    margin-right: auto;
    &-image {
      height: 50px;
    }
  }
}