@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700,800');

html {
  background: $color_background;
  font-family: Montserrat;
}

body {
  margin: 0;
}

#app {
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  line-height: 24px;
  color: $color_white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
