#map {
  display: block;
  height: 300px;
  width: 100%;
  background-color: darkslategrey;
}

.marker {
  @extend %marker-icon;

  &--checkmark {
    height: 36px;
    width: 36px;
    background: url('../../images/checkmark.svg');
    background-size: 100%;
  }
}

.map-hidden-alert {
  font-size: 12pt;
}
